
#page-wrap{
	color: #F37F4A;
}

#page2{
	color: #F37F4A;
	font-size: 16px;
}

h1{
	font-size: 24px;
	font-weight: bold;
	padding:  5px 20px;
	color:#F37F4A;
}
span{
	margin: 5px 20px;
}

ul{
	list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}